<header class="py-3">
    <h1 class="text-center">Página no encontrada</h1>
</header>

<main class="container">
    <section>
        <p class="text-center">{{message}}</p>
        <img class="d-block mx-auto" src="/img/gatoNegro.avif" alt="gato negro" width="35%">
    </section>
</main>

<script>
    document.title = "404 Página no encontrada";
</script>