<header class="py-1">
    <h2 class="text-center">Error</h2>
</header>
<main class="container d-flex flex-column align-items-center pt-3">
    <div>
        <h3>{{message}}</h3>
    </div>
    <div>
        <button class="btn btn-dark my-4">
            <a style="text-decoration: none; color: white" href="/">Volver a la página principal</a>
        </button>
    </div>
</main>

<script>
    document.title = "Error";
</script>