<header class="py-3">
    <h1>Books and Authors</h1>
</header>

<main class="container">
    <h3 id="" class="text-center">subtitulo</h3>
</main>

{{!--
<link rel="stylesheet" href="/css/homeStyles.css"> --}}

<script>
    alert('Página home, bienvenido.')
    console.log('Hola Mundo')
    // Para pruebas, luego mover codigo al archivo /js/home.js
</script>