<header class="container py-3">
    <h1 class="text-center">Books and Authors</h1>
</header>

<main>
    <h3>Agregar libro</h3>
    {{!-- Formulario --}}
</main>


<script>
    console.log('Hola Mundo')
    // Para pruebas, luego mover codigo al archivo /js/home.js
</script>